{% extends 'header.html' %}
{% block content %}

<div id="activity_list">
    <div class="container-fluid">
        {% if activities %}
        <div class="row row-cols-1 row-cols-md-3">
            {% for j in range(activities|count) %}
                <div class="col mb-4">
                    {% if user_activities[j]['is_completed'] %}
                    <div class="card bg-success text-white">
                    {% else %}
                    <div class="card bg-info text-white">
                    {% endif %}
                        <div class="text-center">
                            <div class="card-body">
                                <form method="POST" action="{{ url_for('remove_activity') }}">
                                    <input hidden value="{{ user_activities[j]['user_activity_id'] }}" name="user_activity_id">
                                    <button type="submit" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </form>
                                <h5 class="card-title">{{activities[j]['description']}}</h5>
                                <p class="card-text">Theme: {{activities[j]['activity_type']}}</p>
                                <p class="card-text">Social Rank: {{activities[j]['participants']}}/10</p>
                                <p class="card-text">Acessibility Rank: {{activities[j]['accessibility']}}/100</p>
                                <p class="card-text">Cost Rank: {{activities[j]['price']}}/100</p>
                                
                            </div>
                            <div class="card-footer ">

                                <form method="POST" action="{{ url_for('complete_activity') }}">
                                    <input hidden value="{{ user_activities[j]['user_activity_id'] }}" name="user_activity_id">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        {% if user_activities[j]['is_completed'] %}
                                        Uncomplete
                                        {% else %}
                                        Complete
                                        {% endif %}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> 
        {% else %}
            <h2>save some activities lol</h2>
        {% endif %}
    </div>
</div>

{% endblock %}