<!DOCTYPE html>

<html>
    <head>
        <title>Bored.</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" >
        <meta charset="utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container-flex">
        
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="{{ url_for('index') }}">Bored.</a>
        
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
              </ul>
              
                {% if session.get('logged_in') %}
                <form class="form-inline" action="{{ url_for('activity_list') }}" method="GET">
                  <button type="submit" class="btn btn-primary mx-2">Saved Activities </button>
                </form>
                <form class="form-inline" action="{{ url_for('logout') }}" method="GET">
                  <button type="submit" class="btn btn-primary mx-2">Log Out</button>
                </form>
                {% else %}
                <form class="form-inline" action="{{ url_for('register') }}" method="GET">
                  <button type="submit" class="btn btn-primary mx-2">Sign Up</button>
                </form>
                <form class="form-inline" action="{{ url_for('login') }}" method="GET">
                  <button type="submit" class="btn btn-primary mx-2">Log In</button>
                </form>
                {% endif %}
                
            </div>
          </nav>
          <div id="banner">
              <div class="container text-center mb-3">
                {% if title %}
                  <h1>{{title}}</h1>
                {% endif %}
                {% if subtitle %}
                  <h3>{{subtitle}}</h3>
                {% endif %}
              </div>
          </div>
        </div>
        
        {% block content %}
        
        {% endblock %}
    </body>
</html>