{% extends 'header.html' %}
{% block content %}

<div id="randomactivity">
    <div class="container-fluid text-center">
        <form action="{{ url_for('index') }}" method="GET">
            <button type="submit" class="btn btn-success btn-lg btn-block mb-3">Get another activity!</button>
        </form>
        <form action="{{ url_for('add_activity') }}" method="POST">
            <input hidden type="number" value="{{ activity.activity_id }}" name='activity_id'>
            <input hidden type="text" value="{{ activity.description }}" name='description'>
            <input hidden type="text" value="{{ activity.activity_type }}" name='activity_type'>
            <input hidden type="number" value="{{ activity.participants }}" name='participants'>
            <input hidden type="number" value="{{ activity.accessibility }}" name='accessibility'>
            <input hidden type="number" value="{{ activity.price }}" name='price'>
            <input hidden type="text" value="{{ activity.link }}" name='link'>
            
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title display">{{activity.description}}</h5>
                    <p class="card-text">Theme: {{activity.activity_type}}</p>
                    <p class="card-text">Social Rank: {{activity.participants}}/10</p>
                    <p class="card-text">Acessibility Rank: {{activity.accessibility}}/100</p>
                    <p class="card-text">Cost Rank: {{activity.price}}/100</p>
                </div>
                <div class="card-footer ">
                    <button type="submit" class="btn btn-primary btn-lg">Save!</button>
                </div>
            </div>
        </form>

    </div>
</div>

{% endblock %}