{% extends 'header.html' %}
{% block content %}

<div id="randomactivity">
    <div class="">
        <form action="{{ url_for('add_activity') }}" method="POST">
            <input hidden type="number" value="{{ activity.activity_id }}" name='activity_id'>
            <input hidden type="text" value="{{ activity.description }}" name='description'>
            <input hidden type="text" value="{{ activity.activity_type }}" name='activity_type'>
            <input hidden type="number" value="{{ activity.participants }}" name='participants'>
            <input hidden type="number" value="{{ activity.accessibility }}" name='accessibility'>
            <input hidden type="number" value="{{ activity.price }}" name='price'>
            <input hidden type="text" value="{{ activity.link }}" name='link'>
            <input hidden type="number" value="{{ user_id }}" name="user_id">
            <input type="submit">
        </form>
        <h1>The random activity:</h1>
        <h2>{{activity.description}}</h2>
        <h2>Theme: {{activity.activity_type}}</h2>
        <h2>Social Rank: {{activity.participants}}/10</h2>
        <h2>Acessibility Rank: {{activity.accessibility}}/100</h2>
        <h2>Cost Rank: {{activity.price}}/100</h2>
        <button>Save!</button>
    </div>
</div>

{% endblock %}