{% extends 'header.html' %}
{% block content %}

<div id="loginsection">
    <div class="">
        <form action="{{ url_for('register') }}" method="POST">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirm_password" placeholder="Confirm Password">
            <button type="submit" class="btn btn-primary">Register</button>
            <p class="message">Already registered? <a href="{{ url_for('login') }}">Sign In</a></p>
        </form>
    </div>
</div>



{% endblock %}